.material-box {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
    }

    .pdf-container {
        height: 500px;
        border: 1px solid #ccc;
        overflow-y: scroll;
        margin-bottom: 15px;
    }

    #pdfFrame {
        width: 100%;
        height: 1000px;
        /* importante */
    }

    .btn-evaluacion {
        background: #2ecc71;
        color: white;
        padding: 10px 18px;
        border-radius: 6px;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        opacity: 0.5;
    }

    .btn-evaluacion:enabled {
        opacity: 1;
        cursor: pointer;
    }

    .mensaje {
        font-size: 0.9rem;
        color: #888;
    }