{% extends 'home.html' %}
{% block title %}Documentacion{% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='css/acordeon_doc.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/procedimientos.css') }}" rel="stylesheet" />

<div id="documento" style="display:none;">procedimientos/HTML/PRO-PR-003 Administracion y Digitacion de Libranzas.html
</div>
<div id="nombre_documento" style="display: none;">PRO-PR-003 Administracion y Digitacion de Libranzas</div>
<h1>PRO-PR-003 Administracion y Digitacion de Libranzas</h1>
{% for cambio in cambios %}
{% if loop.first %}
<h3>Version: {{cambio[3]}}</h3>
{% endif %}
{% endfor %}
<br />
<div class="doc-accordion">
    <div class="doc-section" data-id="1">
        1. OBJETIVO
    </div>
    <div class="doc-content" data-id="1">
        <p>
            Procesar, validar y entregar el registro consolidado de las Libranzas al Banco AVVillas, en cumplimiento con
            los requerimientos del Sistema de Gestión Integrado
        </p>
        <div class="doc-section" data-id="2">
            2. ALCANCE
        </div>
        <div class="doc-content" data-id="2">
            <p>
                Este procedimiento aplica a los archivos de Libranzas enviados por el Banco AVVillas, para el
                procesamiento de la información
            </p>
        </div>
        <div class="doc-section" data-id="3">
            3. RESPONSABLES
        </div>
        <div class="doc-content" data-id="3">
            <p>
                Gerente de operaciones, Director de procesos, Líder de procesos
            </p>
        </div>
        <div class="doc-section" data-id="4">
            4. DEFINICIONES
        </div>
        <div class="doc-content" data-id="4">
            <p>
                • Archivo Plano: Archivo de datos que se utiliza para intercambio de información entre las diferentes
                aplicaciones. • FTP (File Transfer Protocol): Es un protocolo de transferencia de archivos entre
                sistemas conectados a una red TCP (Protocolo de Control de Transmisión) basado en la arquitectura
                cliente-servidor, de manera que desde un equipo cliente nos podemos conectar a un servidor para
                descargar archivos desde él o para enviarle nuestros propios archivos independientemente del sistema
                operativo utilizado en cada equipo. • Archivo Base: Es el registro de las transacciones de una fecha de
                recaudo, capturado en las cajas del Banco a nivel Nacional • Página Web: es un gran espacio documental
                organizado, dedicado al intercambio de información. • Enzipar: Es la carpeta comprimida la cual contiene
                los archivos Excel y los archivos planos
            </p>
        </div>
        <div class="doc-section" data-id="5">
            5. DOCUMENTOS DE REFERENCIA
        </div>
        <div class="doc-content" data-id="5">
            <p>
                ➢ Acuerdo de Servicios. ➢ Contrato de prestación de servicios ➢ Propuesta de Servicios ➢ Norma
                NTC-ISO-9001
            </p>
        </div>
        <div class="doc-section" data-id="6">
            6. DESCRIPCIÓN DEL PROCESO
        </div>
        <div class="doc-content" data-id="6">
            <div class="doc-subsection">
                6.1. DESCARGUE DEL ARCHIVO BASE Y ARCHIVOS DE REGISTRO DE PAGOS
            </div>
            <div class="doc-subcontent">
                <div class="doc-subsection">
                    6.1.1 Descargue de Archivo Base
                </div>
                <div class="doc-subcontent">
                    <ul>
                        <li>
                            <i class="fa-regular fa-circle-check">
                            </i>
                            <b>
                                RESPONSABLE:
                            </b>
                            Líder de proceso
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check">
                            </i>
                            <b>
                                REGISTRO:
                            </b>
                            No aplica. 25/09/2023 ADMINISTRACIÓN Y DIGITACIÓN DE LIBRANZAS
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check">
                            </i>
                            <b>
                                DESCRIPCIÓN:
                            </b>
                            Se copia archivo original denominado “Base Digicom.csv” del sitio seguro del Banco. En la
                            ruta: \\Sitio seguro\ Desde Banco\Convenios\Cartera HiptCons\Base Digicom El archivo se
                            descarga directamente en la carpeta Descargas del equipo del funcionario encargado del
                            proceso con el nombre Base_Digicom.csv, éste archivo Base sirve para realizar los cruces de
                            captura realizada por Digicom versus la información que tiene en Banco en su base de Datos:
                            25/09/2023 ADMINISTRACIÓN Y DIGITACIÓN DE LIBRANZAS El archivo se renombra con la extensión
                            con (aaaammdd).csv: Después de haber colocado el archivo conaaaammdd.csv en nuestro
                            servidor, debemos arreglarlo para poder consultarlo cuando lo necesitamos, ya que la
                            estructura que viene del Banco solo sirve para cargarlo con el aplicativo. Abrimos el
                            archivo y en la columna A colocamos nuestro cursor, al resaltar ésta columna vamos a la
                            ventana DATOS, opción Texto en columnas, pulsamos Delimitados, siguiente, opción Coma,
                            Siguiente, Finalizar. Luego seleccionamos toda la hoja y en la ventana DATOS, opción
                            Ordenar, en la opción Ordenar por NRO DOCUMENTO de menor a mayor, Agregar nivel,
                            SALDO_CAPITAL_PESOS de mayor a menor. Así nuestra Base queda ordenada para consultar.
                            25/09/2023 ADMINISTRACIÓN Y DIGITACIÓN DE LIBRANZAS
                        </li>
                    </ul>
                </div>
                <div class="doc-subsection">
                    6.1.1.2 Creación de fecha en la red
                </div>
                <div class="doc-subcontent">
                    <ul>
                        <li>
                            <i class="fa-regular fa-circle-check">
                            </i>
                            <b>
                                RESPONSABLE:
                            </b>
                            Líder de proceso
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check">
                            </i>
                            <b>
                                REGISTRO:
                            </b>
                            No aplica
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check">
                            </i>
                            <b>
                                DESCRIPCIÓN:
                            </b>
                            Se crea la fecha del proceso en el Servidor
                            asignado:\\Servidor\Confidencial_Libranzas52_aaaa\Data\Nueva fecha Al crear la carpeta
                            renombrada con la fecha del proceso, automáticamente también se crean dentro de ella las
                            carpetas Archivos, Control y Fecha. Se copia de Descargas el archivo renombrado con
                            (aaaammdd).csv y se lleva al servidor asignado en la carpeta creada y se pega: 25/09/2023
                            ADMINISTRACIÓN Y DIGITACIÓN DE LIBRANZAS Realizado lo anterior, se procede a abrir el
                            aplicativo del proceso para realizar el cargue de la Base. El aplicativo se encuentra en la
                            ruta: \\Servidor\Confidencial_Libranzas52_aaaa \ Última versión. Se digita el usuario y la
                            clave de acceso: Iniciar sesión, en la barra superior del aplicativo, en la ventana
                            Movimiento ingresamos la fecha que vamos a procesar, aaaammdd: 25/09/2023 ADMINISTRACIÓN Y
                            DIGITACIÓN DE LIBRANZAS Después procedemos a cargar la base, en la ventana superior, en la
                            ventana Herramientas pulsamos la ventana Carga de archivos base de convenios: A
                            continuación, se despliega una ventana donde activamos la opción ۷ No eliminar convenio-
                            cedulas duplicadas y pulsamos Carga CSV de convenios: Al finalizar el cargue de la base, el
                            aplicativo nos indica cuántos Registros trae la Base, igualmente cuántos Registros están
                            duplicados y cuántos Registros fueron cargados, Aceptar: 25/09/2023 ADMINISTRACIÓN Y
                            DIGITACIÓN DE LIBRANZAS Al terminar el cargue de la Base, en la carpeta de la fecha de
                            nuestro servidor se han creado varios archivos de extensiones .CDX y. BDF que son necesarios
                            para nuestro proceso: Pulsamos la ventana Archivos y allí encontramos 3 carpetas (Autos,
                            Cargados y Resumen) y dos archivos Excel (1000 y RESUMEN XX): En la ventana Autos se guardan
                            los archivos .csv con los que se graban los Convenios, en la ventana Cargados se guardan los
                            archivos originales de los diferente Convenios y en la ventana Resumen se guardan los
                            archivos Resumen XX con los que se procesan los diferentes Cortes. 25/09/2023 ADMINISTRACIÓN
                            Y DIGITACIÓN DE LIBRANZAS El archivo RESUMEN XX se debe renombrar con los dos dígitos del
                            día que se está trabajando
                        </li>
                    </ul>
                </div>
            </div>
            <div class="doc-subsection">
                6.2. Conversión y Captura de información
            </div>
            <div class="doc-subcontent">
                <p>
                    25/09/2023 ADMINISTRACIÓN Y DIGITACIÓN DE LIBRANZAS
                </p>
            </div>
            <div class="doc-subsection">
                6.3. Diferencias
            </div>
            <div class="doc-subcontent">
            </div>
            <div class="doc-subsection">
                6.4 Carga Archivos para generar envío
            </div>
            <div class="doc-subcontent">
                <ul>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            RESPONSABLE:
                        </b>
                        Líder de procesos
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            REGISTRO:
                        </b>
                        No aplica
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            DESCRIPCIÓN:
                        </b>
                        Para poder hacer el envío de información al Banco debemos proceder de la siguiente manera: En
                        nuestro archivo RESUMEN XX, eliminamos todos los pagos ya enviados y las líneas que no tengan
                        datos. 25/09/2023 ADMINISTRACIÓN Y DIGITACIÓN DE LIBRANZAS Éste nuevo archivo se renombra como
                        RESUMEN. Se guarda en la ruta: \\Servidor\Confidencial_Libranzas52_aaaa \ Data \ aaaammdd. La
                        macro incorporada en el Aplicativo en la ruta: 25/09/2023 ADMINISTRACIÓN Y DIGITACIÓN DE
                        LIBRANZAS Extrae las columnas No de convenio, Nombre, formato, valor y fecha y actualiza con
                        éstos datos los archivos Excel Control y Fecha con formato .csv en la ruta:
                        \\Servidor\Confidencial_Libranzas52_aaaa \ Data
                    </li>
                </ul>
            </div>
            <div class="doc-subsection">
                6.5 Generar reporte y envío
            </div>
            <div class="doc-subcontent">
                <ul>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            RESPONSABLE:
                        </b>
                        Líder de procesos
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            REGISTRO:
                        </b>
                        No aplica
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            DESCRIPCIÓN:
                        </b>
                        Mediante el aplicativo en la ventana Herramientas pulsamos la opción Control de convenios, allí
                        se despliega una ventana en la que elegimos la opción Cargar y buscamos en la red la ruta:
                        \\Servidor\Confidencial_Libranzas52_aaaa \ Data\Control.csv . Al finalizar éste proceso una
                        ventana emergente nos informa la cantidad de Registros cargados y Registros actualizados.
                        25/09/2023 ADMINISTRACIÓN Y DIGITACIÓN DE LIBRANZAS Mediante el aplicativo en la ventana
                        Herramientas pulsamos la opción Generar envío, allí se despliega una ventana en la que elegimos
                        la opción Cargar.csv y buscamos en la red la ruta: \\Servidor\Confidencial_Libranzas52_aaaa \
                        Data\Fechas.csv . Pulsamos la opción Generar envío y en una ventana que se despliega nos informa
                        que se generó el envío: data\aaaammdd\ Envio_XXXXX .txt y data\aaaammdd\Envio_XXXXX.xls que son
                        los archivos Excel y Plano que se envían al enviar al Banco. 25/09/2023 ADMINISTRACIÓN Y
                        DIGITACIÓN DE LIBRANZAS 25/09/2023 ADMINISTRACIÓN Y DIGITACIÓN DE LIBRANZAS Al terminar éstos
                        cargues se ha creado una nueva carpeta con el nombre Envio_XXXXX, la cual renombramos de acuerdo
                        al Corte que se esté alistando por ejemplo Envio_XXXXX 1er CORTE. Dicha carpeta se encuentra en
                        la ruta: \\Servidor\Confidencial_Libranzas52_aaaa \ Data\aaaammdd. Dentro de dicha carpeta se
                        encuentran los archivos XXXX.xls, uno por cada uno de los convenios trabajados, un archivo
                        Enviados .txt y un archivo KIJXXXEX_XXXXXXXXXXXXXXXaaaammdd.txt Para enviar los archivos al
                        Banco tomamos los archivos XXXX.xls y el archivo KIJXXXEX_XXXXXXXXXXXXXXXaaaammdd.txt y los
                        encriptamos. Zip. Luego tomamos el archivo Enviados .txt lo abrimos, copiamos su contenido y los
                        pegamos en una nueva hoja de Excel, se ordenan utilizando la opción Datos\texto en columnas y se
                        le agregan Borde\ Todos los bordes, 25/09/2023 ADMINISTRACIÓN Y DIGITACIÓN DE LIBRANZAS y se
                        guarda renombrado como Resumen _ XXXXXXX XXCORTE.zip en la ruta
                        \\Servidor\Confidencial_Libranzas52_aaaa \ Data\aaaammdd\Envio_XXXXX A continuación, tomamos los
                        archivos.zip y mediante el sistema GnuGP se encriptan y se suben al sitio seguro del Banco en la
                        ruta: \\Sitio seguro\ Hacia usuario\Convenios\Cartera
                        HiptConsCarteraLibranza001\Elegirarchivos\Cargararchivos. Finalmente, mediante correo
                        electrónico se avisa a los funcionarios del Banco la subida de los archivos indicando el número
                        de Referencia y cantidad de convenios enviados: Al final del día el encargado del proceso
                        realiza una validación que informa al Cliente, el Banco valida dicha información y de igual
                        manera informa al encargado el final de la jornada: CONVENIOS REGISTROS VR PAGO 04 107 $
                        74.064.087
                    </li>
                </ul>
            </div>
            <div class="doc-subsection">
                6.6 BACKUP
            </div>
            <div class="doc-subcontent">
                <div class="doc-subsection">
                    6.6.1 Generar Backup proceso
                </div>
                <div class="doc-subcontent">
                    <ul>
                        <li>
                            <i class="fa-regular fa-circle-check">
                            </i>
                            <b>
                                RESPONSABLE:
                            </b>
                            Líder de procesos y T.I
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check">
                            </i>
                            <b>
                                REGISTRO:
                            </b>
                            No aplica
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check">
                            </i>
                            <b>
                                DESCRIPCIÓN:
                            </b>
                            Diariamente se hace una copia de los archivos de la última fecha trabajada en el Servidor de
                            Contingencia. Este proceso se realiza automáticamente en la máquina virtual quedando la
                            información disponible en cinta. En caso de ser necesario, se informa a T.I mediante correo
                            electrónico para que ellos restablezcan la información solicitada. 25/09/2023 ADMINISTRACIÓN
                            Y DIGITACIÓN DE LIBRANZAS Adicionalmente el encargado del proceso realiza un Backup mediante
                            el aplicativo, copia que queda guardada automáticamente en la ruta: Equipo\Windows
                            (C)\BACKUP LIBRANZAS Después de terminar la fecha diaria, la carpeta del día se corta y se
                            lleva a la carpeta MMMM, ubicada dentro de la carpeta AAAA, la ruta es:
                            \\Servidor\Confidencial_Libranzas52_aaaa \ Data\aaaa\ mmmm. Se despliega una ventana Backup
                            de directorios de fechas que ya trae la ruta establecida, se pulsa la pestaña Generar Backup
                            y se genera automáticamente una carpeta. Zip con la información de la fecha. 25/09/2023
                            ADMINISTRACIÓN Y DIGITACIÓN DE LIBRANZAS
                        </li>
                    </ul>
                </div>
            </div>
            <div class="doc-subsection">
                6.7 Lista de Chequeo
            </div>
            <div class="doc-subcontent">
                <ul>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            RESPONSABLE:
                        </b>
                        Líder de procesos
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            REGISTRO:
                        </b>
                        PRO-D-104 Lista de Chequeo Libranzas
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            DESCRIPCIÓN:
                        </b>
                        Diariamente se debe diligenciar el formato PRO-D-104 Lista de Chequeo Libranzas para tener
                        seguridad de que los cargues se hagan, después de diligenciarlo se guarda en la ruta:
                        \\Servidor\Confidencial_Libranzas52_aaaa\LibranzasAvvillas\PRO-D-104CHEQUEO\mm 25/09/2023
                        ADMINISTRACIÓN Y DIGITACIÓN DE LIBRANZAS
                    </li>
                </ul>
            </div>
            <div class="doc-subsection">
                6.8 ELABORACION DE FACTURA
            </div>
            <div class="doc-subcontent">
                <ul>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            RESPONSABLE:
                        </b>
                        Líder de procesos
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            REGISTRO:
                        </b>
                        No aplica
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            DESCRIPCIÓN:
                        </b>
                        El último día del mes se genera la factura del proceso mediante el aplicativo. Para éste proceso
                        se debe tener discriminado la cantidad de archivos Imágenes y la cantidad de archivos Excel que
                        se procesaron durante el mes. Esta labor se debe hacer diariamente de acuerdo a los archivos
                        enviados, en el aplicativo en la ventana Herramientas, la opción Ver tipos de captura. En la
                        ventana Datos capturados y la opción Pasar registros a modo captura imagen nos permite cambiar
                        de acuerdo al archivo enviado de Excel a Imagen. Esto se debe realizar diariamente para que no
                        haya confusión: Después de tener actualizadas todas las capturas, mediante el aplicativo se
                        genera la factura en la ventana Herramientas, opción Factura: 25/09/2023 ADMINISTRACIÓN Y
                        DIGITACIÓN DE LIBRANZAS En la ventana Pre validación de Facturas los dos rangos solicitados son:
                        1er día hábil del mes y último día hábil del mes, procesar. Se generan dos archivos Excel, uno
                        llamado Detalle_aaaammdd_aaaammdd y otro prevalidación_aaaammdd_aaaammdd. Estos archivos están
                        ubicados en la ruta: \\Servidor\Confidencial_Libranzas52_aaaa \ Facturas. Estos dos archivos son
                        los que se envían al Banco mediante correo electrónico a más tardar el 3er día hábil del mes
                        siguiente para su respectiva validación. Después de su revisión y aprobación por parte del
                        Cliente, mediante correo electrónico, el encargado del proceso envía al Ingeniero encargado con
                        copia al Gerente de Operaciones los archivos aprobados para que continúe el trámite.
                        Generalmente el Banco aprueba la factura antes del día 17 de cada mes, en caso de demora se debe
                        llamar al Analista del Banco para recordar la aprobación de la factura
                    </li>
                </ul>
            </div>
            <div class="doc-subsection">
                6.9 Realización de indicadores de gestión
            </div>
            <div class="doc-subcontent">
                <ul>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            RESPONSABLE:
                        </b>
                        Líder de procesos
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            REGISTRO:
                        </b>
                        GER-D-001 Indicadores
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check">
                        </i>
                        <b>
                            DESCRIPCIÓN:
                        </b>
                        De acuerdo a la factura aprobada, del archivo Excel llamado Pre validación, tomamos los totales
                        de los registros trabajados durante el mes y con ellos se diligencian los Indicadores mensuales
                        en el formato GER-D-001 Indicadores. 25/09/2023 ADMINISTRACIÓN Y DIGITACIÓN DE LIBRANZAS Estos
                        Indicadores deben ser diligenciados en los cinco (5) primeros días del mes y enviados al SGI y a
                        la Dirección Comercial mediante correo electrónico. El formato se encuentra en la ruta:
                        \\Servidor\Confidencial_Libranzas52_aaaa \ Indicadores\GER-001- Indicadores - Libranzas
                    </li>
                </ul>
            </div>
        </div>
        <div class="doc-section" data-id="7">
            7. INDICADORES DE DESEMPEÑO
        </div>
        <div class="doc-content" data-id="7">
            <p>
                MEDIDO RESPONSABLE INDICADOR FRECUENCIA POR/MEDIO REVISIÓN Σ Informes Enviados – Σ Informes enviados
                fuera de Director de Líder de tiempos establecidos Mensual Procesos. proceso
                ------------------------------------------------------- *100 Σ Informes enviados 25/09/2023
                ADMINISTRACIÓN Y DIGITACIÓN DE LIBRANZAS
            </p>
        </div>
        <div class="doc-section" data-id="8">
            8. CONTROL DEL PROCEDIMIENTO
        </div>
        <div class="doc-content" data-id="8">
            <p>
                VER. No. ELABORADO REVISADO APROBADO APROBACION REALIZADA Supervisor de Analista del Supervisor de Se
                realiza actualización 26 29/01/2020 Proceso SGI Proceso general. Supervisor de Analista del Supervisor
                de Se actualizo la actividad 27 23/09/2020 Proceso SGI Proceso 6.8 Supervisor de Director del Supervisor
                de Se realiza actualización 28 25/09/2023 Proceso SGI Proceso general. 25/09/2023
            </p>
        </div>


    </div>

    <!-- Botón para abrir el modal -->
    <button class="btn btn-outline-primary" id="openModalBtn" style="margin-top: 20px;">Editar Secciones</button>
    <!-- El Modal -->
    <div class="modal" id="sectionModal">
        <div class="modal-content">
            <span class="close-button">×</span>
            <h2>Selecciona y Edita una Sección</h2>
            <label for="sectionSelector">Sección:</label>
            <select id="sectionSelector">
                <option value="">-- Selecciona una sección --</option>
            </select>
            <label for="sectionContent">Contenido:</label>
            <textarea id="sectionContent" placeholder="El contenido de la sección aparecerá aquí..."></textarea>
            <label for="sectionCambio">Descripcion del Cambio:</label>
            <textarea id="sectionCambio" placeholder="Describe en palabras cortas el cambio realizado..."
                required></textarea>
            <button class="btn btn-outline-primary" id="saveChangesBtn" style="margin-top: 15px;">Guardar
                Cambios</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/acordeon_doc.js')}}"></script>
    <script src="{{ url_for('static', filename='js/edita_procedimiento.js')}}"></script>

    {% endblock %}