{% extends 'home.html' %}
{% block title %}Documentacion{% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='css/acordeon_doc.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/procedimientos.css') }}" rel="stylesheet" />

<div id="documento" style="display:none;">procedimientos/HTML/PRO-PR-007 Impuestos Distritales Davivienda.html</div>
<div id="nombre_documento" style="display: none;">PRO-PR-007 Impuestos Distritales Davivienda</div>
<h1>PRO-PR-007 Impuestos Distritales Davivienda</h1>
{% for cambio in cambios %}
{% if loop.first %}
<h3>Version: {{cambio[3]}}</h3>
{% endif %}
{% endfor %}
<br />
<div class="doc-accordion">
 <div class="doc-section" data-id="6">
  6.  DESCRIPCION DEL PROCESO
 </div>
 <div class="doc-content" data-id="6">
  <div class="doc-subsection">
   6.2. Captura de información
  </div>
  <div class="doc-subcontent">
   <div class="doc-subsubsection">
    6.2.1. Validación
   </div>
   <div class="doc-subsubcontent">
   </div>
   <div class="doc-subsubsection">
    6.2.1.1. Realizar el cruce de lo grabado vs el log
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      Bean call center Davivienda
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Antes de realizar el cruce de validación se revisa en el aplicativo las opciones:
Menú/indexación/cargar imágenes/ver ilegibles/ver sobrantes y liberar
Una vez realizada esta actividad procedemos a identificar las inconsistencias.
Ilegible: La información de documento en la imagen no es clara se debe de reportar al área de Call Center para su anotación en el formato Bean manejado por esa área.
Sobrantes: Son documentos que no vienen registrados en el log y se debe informar al Banco y reportada, al área de Call Center para su anotación en el formato Bean manejado por esa área.
Liberar: Son documentos que el digitador empezó a indexar, pero no termino, se debe pasar nuevamente a grabación.
Ingresamos al aplicativo y generamos el cruce de validación de la siguiente forma:
Menú/bancos/log bancario/cruce de validaciones.
Este se guarda automáticamente en la siguiente ruta:
\\servidorproduccion\confidencial_id51_xxxx\data\51\aaaammdd
Se debe enviar un correo electrónico al Banco y a la oficina correspondiente informando sobre las inconsistencias presentadas como:
Diferencia de valor
Sobrantes
Declaraciones con fecha vencida
Referencia Duplicada.
Se debe realizar el reporte al Call Center para generar el reporte para enviar al banco
     </li>
    </ul>
   </div>
  </div>
  <div class="doc-subsection">
   6.3. Generar cintas magnéticas
  </div>
  <div class="doc-subcontent">
   <div class="doc-subsubsection">
    6.3.1. Validar la información
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista del proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      PRO-D-080 Estado De Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Después de hacer el cruce de validaciones y verifiquemos que no tenemos ninguna inconsistencia procedemos a generar los archivos para la generación de las cintas magnéticas.
Aplicativo/fecha de recaudo/Bancos/Log Bancario/copiar a CSV Declaraciones y (fact, rop y cupones). Y copiar log a Excel.
Este procedimiento se guarda automáticamente en la siguiente ruta:
Servidorproduccion/confidencial_id51_xxxx/data/51/aaaammdd.
Ahora debemos crear una carpeta en servidor producción/distritales/aceptados diarios/Hoy/mes/Fecha de recaudo/ hay dejamos las cintas que se generan para transmitir.
Nota 1: Se debe diligenciar el formato PRO-D-080 Estado De Proceso para llevar el control de los consecutivos de las cintas. (Se adjunta formato)
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.3.2. Generación de medios magnéticos
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista del proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No Aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Una vez terminadas las validaciones a través del aplicativo, se debe generar la cinta magnética de:
Declaraciones.
Facturas, Cupones y Recibos oficiales de Pago.
Pagos Electrónicos.
PSE (Debito-Crédito).
Adhesivos Anulados
Adhesivos Generados.
Consignaciones Semanales.
Cada una de ellas se debe generar de la siguiente manera:
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.3.2.1. Las Declaraciones y Facturas, Cupones y recibos Oficiales de Pago
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista del proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No Aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Se generan desde el aplicativo:
Luego de realizar esta función damos clic en el botón validar contra el log, debe salir cero (0) diferencias, si sale referencias o sticker repetidos se debe validar y corregir el archivo CSV.
Si el archivo sale bien procedemos a generar en el botón Genera plano 2017.
Estos archivos quedan en la siguiente ruta:
Servidorproducción/confidencial_id51_xxxx/data/51/aaaammdd/envíos, cogemos los dos archivos y los pegamos en la carpeta que se creó anteriormente en Aceptados diarios
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.3.2.2. Los Pagos Electrónicos
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista del proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      PRO-D-080 Estado de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      El log de estos Pagos Electrónicos llega por correo electrónico (512000XXXX.txt), se debe descargar de una vez en la carpeta de Aceptados diarios se revisa la fecha que corresponda al recaudo diario, se cambia el consecutivo por Digicom y se toman los datos de cuantos documentos son y el valor se colocaran en el formato PRO-D-080 Estado de Proceso
Para saber el total de documentos nos dirigimos a la última línea del archivo y desde la columna 12 hacia atrás tomamos los datos y para el valor desde la columna 15 hacia adelante
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.3.2.3. Pagos PSE (Debito-Crédito)
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista del proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      PRO-D-080 Estado de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Estos archivos son los que se descargaron según numeral (6.1.3.2) los colocamos en la carpeta Aceptados diarios, cambiamos los consecutivos por Digicom y se toma igualmente el total de documentos y el valor como el numeral (6.4.2.2) y se colocan en el formato PRO-D-080 Estado de Proceso
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.3.2.4. Adhesivos Anulados y Generados
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista del proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      PRO-D-080 Estado de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Estos archivos de Anulados y Generados los envían por medio de correo electrónico (5100XXXXAD.dat) y los descargamos en la siguiente ruta:
Servidor Producción/Confidencial_id51_xxxx/Distritales/Adhesivos Anulados y Generados/Nueva carpeta. No olvidar cambiar el consecutivo según corresponda en el formato PRO-D-080 Estado de Proceso.
Para generar el archivo se realiza de la siguiente manera
Nos vamos al aplicativo/Herramientas/Generación de sticker/Anulados o Generados/y procedemos a ingresar los datos según los campos, luego le damos incluir/fecha de asignación/Generar ver 2017.
El archivo queda generado en la siguiente ruta Servidor producción/confidencial_id51_2025 adhesivos se copian y se pegan en la carpeta de las cintas para transmitir
     </li>
    </ul>
   </div>
  </div>
  <div class="doc-subsection">
   6.4.	Transmisión de cintas magnéticas
  </div>
  <div class="doc-subcontent">
   <div class="doc-subsubsection">
    6.4.1 Solución de aprobación de medios magnéticos
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      PRO-D-076 autorización cintas adhesivos Generados y Anulados.
PRO-D-077 autorización cintas
PRO-D-080 Estado de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Después de realizar todas las validaciones en indexación, grabación, inconsistencias, y descargar todos los archivos y el cuadro de Estado de Proceso formato PRO-D-080 Estado de Proceso verificamos la información de este contra la información que está en la carpeta de Aceptados diarios, luego procedemos a realizar la autorización de las cintas nos dirigimos al Estado de Procesos, nos dirigimos a la siguiente ruta:
Servidor producción/confidencial_id51_XXXX/Distritales/Autorización cintas/
Autorizacion_cintas_dd_mm_aaaa
Hay un Excel para cada una Declaraciones, Anulados y Generados. Vamos copiando la información al formato PRO-D-077 autorización cintas y verificando a la vez los archivos del Cuadro contra la autorización y así sucesivamente con los demás archivos teniendo encuentra el cambio del número de las cintas y fecha correspondientes al recaudo
Para los Anulados y Generados tomamos los datos que se generaron según numeral (6.4.2.4) y vamos copiando la información al formato PRO-D-076 autorización cintas adhesivos anulados.
Estos archivos los convertimos a Zip. Se copian y se pegan en el servidor canal, después se sube a la página Digicom y se envía correo informando al Banco que ya está la autorización en la página
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.4.1.1. Aprobación de transmisión de medios magnéticos
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Banco
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      Pagina Digicom
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      El Banco después de recibir la información validan las cifras con su información y al estar bien dan un aceptado donde queda con color verde por el mismo medio de la página
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.4.1.2. Firma de los medios magnéticos
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      CERTIFIRMA
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Después de que Banco envía el aceptado de la autorización de las cintas nos dirigimos a la carpeta de Aceptados diarios donde tenemos todos los archivos y volvemos a hacer una última verificación contra el cuadro de Estado de Procesos.
Los archivos para transmitir se convierten en Zip, Después de convertirlos todos los seleccionamos y los firmamos de la siguiente manera damos clic derecho/certifirma/firmar
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.4.1.3. Transmisión
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      Pagina SHD
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Después de validado, Enzipado y firmado procedemos a subir las cintas a la Página de SHD.  https:/oficinavirtual.shd.gov.co/Recepción/inicio.
Seleccionamos el Banco correspondiente, nombre de usuario y clave.
Luego de ingresar le damos reportar/subir archivos/tipo de archivo/se selecciona el archivo según nombre/seleccionar archivo/ nos lleva a la ruta donde creamos la carpeta de Aceptados Diarios y seleccionamos el archivo según el tipo de cinta/lo seleccionamos le damos abrir/enviar.
Después de subir todos los archivos procedemos a verificar el estado de cada cinta en:
Consultas/consultar resultados/fecha de envió/y en la columna Resultado nos informa el estado de la cinta/ ya sea Aceptado o Rechazado/al lado de esta columna nos muestra el PDF/ le damos Clic y podemos ver el resultado/estos archivos quedan en la carpeta de descargas/los seleccionamos/le damos cortar/ y lo pegamos en la carpeta de Aceptados Diarios/los verificamos contra el Estado de Procesos/lo renombramos/con el número de la cinta correspondiente/cogemos todos los archivos los Enzipar/lo renombramos así/Aceptados_magneticos_aaaammdd.zip/este archivo lo colocamos en el
Servidor canal/51_procesos/fecha/Archivos/Distritales
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.4.2. Gestión de Rechazos de Medios Magnéticos
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      Correo Electrónico
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Para el caso de los rechazos, se verifica el motivo se realiza el ajuste en caso de que sea error humano se procede al desarrollo de todo el proceso normalmente y la Información queda internamente. Pero si el caso es por error de una mala información o un archivo no correspondiente se le informa al Banco para que validen la información del rechazo y esperar respuesta para volver a validar y subir la información. Pero si el error es de la Página de SHD igualmente se le informa al Banco y esperar la respuesta para validar.
(
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Nota:
      </b>
      Las autorizaciones de las cintas para que el Banco valide deben ser enviadas antes de las 10:30 a.m. tan pronto validen la información procedemos a subir las cintas antes de 12:00 p.m. por si se presenta un rechazo poder hacer la validación y el respectivo correctivo para un límite de tiempo antes de las 2:00 p.m. En los días de vencimiento es hasta las 4:00 p.m. pero teniendo en cuenta que hay cintas que no se deben subir después de las 2:00 p.m. ya que puede generar una extemporaneidad en este Caso los PAGOS ELECTRONICOS (VER RESOLUCION)
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.4.2.1. Requerimientos
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      Correo Electrónico
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Son aquellos que el banco envía a procesar y pertenecen a fechas anteriores se debe tener mucho cuidado al hacer esta clase de procesos ya que son requerimientos en el cual no se debe tener error, El Banco envía los respectivos datos para proceder a realizar el requerimiento,  para este se debe hacer una copia al archivo de declaraciones o facturas según el documento a procesar e ingresar los datos y generar los archivos como una fecha normal y generar cinta aparte, se debe tener en cuenta y solicitar al Banco si la consignación se genera dentro de la fecha correspondiente a las consignaciones de la semana o ira aparte. De igual manera se envía autorización del requerimiento y estar atento a la respuesta
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.5.1. Generar consignaciones
   </div>
   <div class="doc-subsubcontent">
   </div>
   <div class="doc-subsubsection">
    6.5.1.1. Cargar medios magnéticos
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No Aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Después de que todos los medios magnéticos estén aceptados y no hayan generado ningún error procedemos a cargarlos en el aplicativo de la siguiente manera:
Nos dirigimos a la carpeta /Confidencial_id51_aaaa/Distritales/Aceptados diarios/hoy/fecha/ y empezamos a seleccionar los archivos de txt. Y los cargamos así:
Los Anulados, las declaraciones y las facturas las copeamos en la carpeta de cintas aceptadas.
Los PSE Débito y Crédito los colocamos en las carpetas PSE en cintas aceptadas.
Los Electrónicos los pegamos en la carpeta de Electrónicos en cintas aceptadas.
Luego nos dirigimos al Aplicativo/Fecha a cargar/Control de envíos/control de documentos enviados/aquí cargamos las declaraciones, las facturas y los pagos electrónicos.
Los PSE (Debito-Crédito) nos dirigimos a cargarlos en el Aplicativo/Fecha de carga/Control de envíos/Control de registro PSE enviados/
Luego de cargarlos en el aplicativo solo seleccionamos los archivos de PSE Débito, Crédito y Electrónicos y los pegamos en la carpeta confidencial_id51_XXXX/Pagos Electrónicos/y desplazamos los archivos a las carpetas correspondientes dejando por fuera de la carpeta los Pagos Electrónicos que los necesitaremos más adelante para cargarlos y proceder con la consignación
Después de realizar está función nos dirigimos a cargar los archivos en Aplicativo/Bancos/Pagos electrónicos-pagos PSE-Pagos en línea Crédito/. Debemos ingresar el número de la cinta correspondiente a la fecha de carga.  En solo los pagos Electrónicos el sistema me solicita el archivo que está en la carpeta de Pagos Electrónicos el que quedo por fuera
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.5.1.2. Generar Consignación
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      PRO-D-078 Cuadre de consignación.
PRO-F-EXT- 012 Anexo 9
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Para realizar el siguiente proceso debemos tener todas las cintas cargadas en el aplicativo como se explicó anteriormente. Luego vamos al aplicativo/Generación de Archivos Planos/ Consignación Automática.
Luego, nos arroja una ventana donde nos indican tres pasos: Utilizaremos los dos primeros para este proceso el tercer paso se utiliza en el numeral (6.4.4.3.)
PASO UNO: Ingresamos la fecha del día anterior, la fecha del día normal y automáticamente el sistema arroja el consecutivo de la consignación y le damos Actualizar y Generar 2017. Nos arroja una ruta donde podemos consultar la consignación:
Servidorproducción/Confidencial_id51_XXXX/Data/51/DDMMAAAA/Consigna.
En esta ruta nos queda el archivo PRO-D-078 Cuadre de consignación. Donde se refleja la consignación de la fecha.
PASO DOS: Ingresamos la fecha de recaudo/Abrir y nos refleja los valores por separado de cada uno de los impuestos recaudados.
Nos dirigimos a la ruta que arrojo en el paso uno y comparamos los valores uno por uno, verificando también el consecutivo de la consignación.
La consignación debe salir en cero para seguir con los pasos, en caso de que salga diferencia se debe verificar nuevamente el cargue de las cintas en el aplicativo y volver a proceder la información.
Luego de hacer la revisión y que la consignación este perfecta la realizamos así: En el paso dos le damos Combinatoria nos arroja una ventana indicando un archivo llamado consigna2014.csv que lo encontramos en la ruta /Confidencial_id51_XXX/Combina.
Nos dirigimos a la siguiente ruta y creamos una carpeta para el soporte de la consignación Confidencial_id51_xxxx/Distritales/Consignaciones/ddmm/Nueva carpeta/Fecha de consignación. luego abrimos el modelo en Word de la consignación que se encuentra en la ruta Confidencial_id51_XXX/Combina. le damos correspondencia/seleccionar destinatario, usar una lista existente y nos vamos a la ruta /Confidencial_id51_XXX/Combina. y seleccionamos el excel que se genero le damos abrir y en la parte de arriba le damos comprobación de errores verificamos que los datos estén correctos como el consecutivo, los valores, el total en número y en letra en el cual se genera en el formato PRO-F-EXT- 012 Anexo 9 y se guarda en Word y en pdf
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.5.1.3. Generar Consignación PSE
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      PRO-D-078 Cuadre de consignación.
PRO-F-EXT- 012 Anexo 9
Descripción. Se realiza el mismo proceso de las consignaciones normales, lo único que cambia es que después de realizar el paso uno y paso dos del numeral 6.4.4.2 se le da en el icono PSE luego se validan los valores que deben de ser igual al de PRO-D-078 Cuadre de consignación en la pestaña cuadre_diario_pse debito-informe.
Para los pse cuando se abre este cuadro con los valores, en la parte que dice fec_con le damos doble clic y se pone la misma fecha de recaudo, Luego de hacer la revisión y que la consignación este perfecta la realizamos así: En el paso dos le damos Combinatoria nos arroja una ventana indicando un archivo llamado consigna2014pse.csv que lo encontramos en la ruta /Confidencial_id51_XXX/Combina.
en la siguiente ruta Confidencial_id51_xxxx/Distritales/Consignaciones/ddmm/Nueva carpeta/Fecha de consignación. Que es donde se encuentra la consignación normal, abrimos el modelo en Word de la consignación pse que se encuentra en la ruta Confidencial_id51_XXX/Combina. le damos correspondencia/seleccionar destinatario, usar una lista existente y nos vamos a la ruta /Confidencial_id51_XXX/Combina. y seleccionamos el excel que se generó le damos abrir y en la parte de arriba le damos comprobación de errores verificamos que los datos estén correctos como el consecutivo, los valores, el total en número y en letra en el cual se genera en el formato PRO-F-EXT- 012 Anexo 9 y se guarda en Word y en pdf
     </li>
    </ul>
   </div>
  </div>
  <div class="doc-subsection">
   6.6. Saltos de adhesivos
  </div>
  <div class="doc-subcontent">
   <ul>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Responsable:
     </b>
     Analista de Proceso
    </li>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Registro:
     </b>
     Correo Electrónico
    </li>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Descripción:
     </b>
     Este informe saltos de adhesivos son los que por algún motivo no están reportados en las bases y sigue su consecutivo normalmente sin ser utilizado.  Se genera por medio del aplicativo/control de envíos/control de documentos enviados/fecha inicial (2022-01-01) /fecha final (recaudo)/reporte de no utilizados y duplicados/.
Luego nos dirigimos a la ruta Confidencial_id51_XXXX/Cintas Aceptadas/Reportes. Abrimos el archivo y debe salir en blanco si sale con adhesivos relacionados verificamos que realmente sea un salto y lo reportamos al Banco por medio de un correo
    </li>
   </ul>
  </div>
  <div class="doc-subsection">
   6.6. Generar Informes
  </div>
  <div class="doc-subcontent">
   <div class="doc-subsubsection">
    6.6.1 Generación de Factura
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista de procesos
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No Aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Se debe generar una FACTURA con todos los datos generados en un mes en este caso el corte va del 21 del mes anterior al 20 del mes actual.
Se genera en el aplicativo/herramientas/facturación/fecha inicial/fecha final/factura/
Nos dirigimos a la ruta Confidencial_id51_XXXX/Procesos/facturas/este archivo lo abrimos y empezamos a seleccionar cada uno y compararlo y pegar los datos según factura del mes anterior/ creando una carpeta en Confidencial_id51_XXXX/Distritales/Facturación, empezamos a reemplazar los datos.
Después de realizarla y que quede bien cuadrada se envía al Banco un correo de información que la factura ya está en la página
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.6.2. Reporte de Anomalías
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista de procesos
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No Aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Este archivo se genera en el aplicativo/inconsistencias/reporte de anomalías/fecha inicial/fecha final/Generar. Nos dirigimos a la ruta Confidencial_id51_XXXX/Inconsistencia/Anomalías/ Enzipar el archivo y lo subimos a la página enviamos correo al Banco
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.6.3. Informe de Cifras
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Analista de procesos
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No Aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Nos dirigimos al aplicativo/control de envíos/Control de documentos enviados/fechas/informe de cifras/ nos dirigimos a la ruta Confidencial_id51_XXX/Cintas Aceptadas/Reportes/Cifras/ Enzipar el archivo enviamos correo al Banco informando que el archivo ya está en página
     </li>
    </ul>
   </div>
  </div>
  <div class="doc-subsection">
   6.7. Pliego de cargos
  </div>
  <div class="doc-subcontent">
   <ul>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Responsable:
     </b>
     director de Procesos,
    </li>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Registro:
     </b>
     No Aplica
    </li>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Descripción:
     </b>
     El banco envía por medio de correo electrónico dos archivos de extemporaneidad.
Archivo extemporaneidad, el banco relaciona en informe las cintas magnéticas que se enviaron fuera de la fecha establecida.
Nota 1: Este archivo se presenta por problemas con el sistema.
Nota 2: Se debe enviar a la secretaria de hacienda distrital un cd; este debe contener   el informe argumentando la   extemporaneidad.
Nota 3: Este mismo informe se debe presentar anual.
Nota 4: El banco envía archivo y el responsable de la respuesta es el coordinador encargado en compañía del director de procesos
    </li>
   </ul>
  </div>
  <div class="doc-subsection">
   6.8. Seguimiento del Proceso
  </div>
  <div class="doc-subcontent">
   <ul>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Responsable:
     </b>
     Analista de Procesos,
    </li>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Registro:
     </b>
     PRO-D-098 Lista de Chequeo
    </li>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Descripción:
     </b>
     Se diligencia el formato PRO-D-098 Lista de Chequeo a medida que se desarrollan las actividades y así verificar que el proceso se desarrolle conforme
    </li>
   </ul>
  </div>
 </div>
 <div class="doc-section" data-id="7">
  7. Entrega Física
 </div>
 <div class="doc-content" data-id="7">
  <ul>
   <li>
    <i class="fa-regular fa-circle-check">
    </i>
    <b>
     Responsable:
    </b>
    Analista de procesos
   </li>
   <li>
    <i class="fa-regular fa-circle-check">
    </i>
    <b>
     Registro:
    </b>
    N/A
   </li>
   <li>
    <i class="fa-regular fa-circle-check">
    </i>
    <b>
     Descripción:
    </b>
    se realizan dos entregas mensuales que son del recaudo del 01 al 15 la entrega se realiza dentro de los 5 días siguientes, y del 16 al 31 los primero 5 días del mes siguiente.
Antes de realizar la entrega se revisa que tenga el sello correspondiente y que la información enviada en el informe sea la misma que se entregue en físico.
Una vez se hayan revisado los físicos se realiza una carta para la secretaria distrital de hacienda con la información de los conceptos varios de cada quince días
   </li>
   <li>
    <i class="fa-regular fa-circle-check">
    </i>
    <b>
     Nota:
    </b>
    Para los conceptos de Plusvalía y Registro anotación se realizan las entregas mensuales dentro de los primeros cinco días del mes siguiente
   </li>
  </ul>
 </div>
 <div class="doc-section" data-id="8">
  8. INDICADORES
 </div>
 <div class="doc-content" data-id="8">
 </div>
 <div class="doc-section" data-id="9">
  9. CONTROL DEL PROCEDIMIENTO
 </div>
 <div class="doc-content" data-id="9">
 </div>
</div>

<!-- Botones y Modals para edición -->
<button class="btn btn-outline-primary" id="openModalBtn" style="margin-top: 20px;">Editar Secciones</button>
<div class="modal" id="sectionModal">
    <div class="modal-content">
        <span class="close-button">×</span>
        <h2>Selecciona y Edita una Sección</h2>
        <select id="sectionSelector"><option value="">-- Selecciona --</option></select>
        <textarea id="sectionContent" placeholder="Contenido..."></textarea>
        <textarea id="sectionCambio" placeholder="Descripción del cambio..." required></textarea>
        <button class="btn btn-outline-primary" id="saveChangesBtn" style="margin-top: 15px;">Guardar Cambios</button>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/acordeon_doc.js')}}"></script>
<script src="{{ url_for('static', filename='js/edita_procedimiento.js')}}"></script>

{% endblock %}
