{% extends 'home.html' %}
{% block title %}Documentacion{% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='css/acordeon_doc.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/procedimientos.css') }}" rel="stylesheet" />

<div id="documento" style="display:none;">procedimientos/HTML/PRO-PR-033 Procedimiento Convenios Bancolombia.html</div>
<div id="nombre_documento" style="display: none;">PRO-PR-033 Procedimiento Convenios Bancolombia</div>
<h1>PRO-PR-033 Procedimiento Convenios Bancolombia</h1>
{% for cambio in cambios %}
{% if loop.first %}
<h3>Version: {{cambio[3]}}</h3>
{% endif %}
{% endfor %}
<br />
<div class="doc-accordion">
 <div class="doc-section" data-id="1">
  1.	OBJETIVO
 </div>
 <div class="doc-content" data-id="1">
  <p>
   Procesar, validar y administrar la información de los Convenios de Bancolombia cumpliendo con los lineamientos del Sistema de Gestión Integrado, con el firme propósito de satisfacer las necesidades del cliente
  </p>
 </div>
 <div class="doc-section" data-id="2">
  2.	ALCANCE
 </div>
 <div class="doc-content" data-id="2">
  <p>
   Este procedimiento aplica a los Convenios de recaudos de Bancolombia, para el procesamiento de la información
  </p>
 </div>
 <div class="doc-section" data-id="3">
  3.	RESPONSABLES
 </div>
 <div class="doc-content" data-id="3">
  <p>
   Gerente de Operaciones, Director de Procesos, Líder de procesos, Auxiliar de Procesos, Digitador
  </p>
 </div>
 <div class="doc-section" data-id="4">
  4.	DEFINICIONES
 </div>
 <div class="doc-content" data-id="4">
  <p>
   Log Bancario o Documento .TXT: Registro de las transacciones de una fecha de recaudo, capturado desde las cajas del banco a nivel nacional.
Label o Sticker: Adhesivo con numeración única que se impone al documento para su posterior procesamiento.
SAI o Clave de Transacción: Número único proporcionado por el banco que posee cada registro incluido en el Log bancario. Este número consta de 13 dígitos, seguidos de la pablara “SAI- “, cabe resaltar que la clave de transacción no se debe repetir en la misma fecha de recaudo
  </p>
 </div>
 <div class="doc-section" data-id="5">
  5.	DOCUMENTOS DE REFERENCIA
 </div>
 <div class="doc-content" data-id="5">
  <p>
   Acuerdo de servicios.
Norma NTC-ISO-9001, 27001
  </p>
 </div>
 <div class="doc-section" data-id="6">
  6.	DESCRIPCIÓN DEL PROCESO
 </div>
 <div class="doc-content" data-id="6">
  <div class="doc-subsection">
   6.1 Recepción y organización de información física y magnética
  </div>
  <div class="doc-subcontent">
  </div>
  <div class="doc-subsection">
   6.2. Carga de Log bancario
  </div>
  <div class="doc-subcontent">
   <div class="doc-subsubsection">
    6.2.1 Descargar Log bancario
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Auxiliar de Proceso / Líder de proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      El banco envía Log de recaudo por medio de correo electrónico,
En la siguiente ruta: \\Servidor_Producción\Confidencial_Recaudos07_AAAA\regdata se debe de crear una carpeta cuyo nombre será la fecha de recaudo del documento .txt
Posteriormente se descarga el documento .txt enviado por el banco y se guarda en la carpeta con la fecha de recaudo correspondiente,
Nota 1: En caso de no recibir el correo se le debe notificar al banco para realizar el envío del mismo.
Nota 2: En caso de que se presente alguna caída en el correo electrónico, el documento .txt será enviado a través del sitio web
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.2.2. Cargar Log bancario
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Auxiliar de Proceso / Líder de proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Para hacer la respectiva carga de Log debemos ingresar por el aplicativo Convenios_Bancos.exe, el cual se encuentra por la siguiente ruta: \\Servidor_Producción \Confidencial_Recaudos07_AAAA\Convenios_Bancos\bin\Debug, se ingresa contraseña del usuario.
Posteriormente se ingresa al aplicativo, ingresamos a la opción: Archivo/Carga_Archivos/  Log_Bancario
Para cargar la carpeta creada con la fecha de recaudo, en el recuadro siguiente se selecciona la opción “…” y en el menú que se despliega se selecciona la fecha de recaudo.
Se selecciona el documento .txt a cargar y posteriormente se da clic en el botón Aceptar.
El aplicativo muestra un aviso emergente “terminó de verificar datos”, el cual indica que terminó el proceso, dar clic en el botón aceptar
     </li>
    </ul>
   </div>
  </div>
  <div class="doc-subsection">
   6.3. Preparación Documental
  </div>
  <div class="doc-subcontent">
   <div class="doc-subsubsection">
    6.3.1.	Recepción de documentos físicos
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Auxiliar de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Recibir los documentos de recaudos remitidos por el banco por medio de una tula. La cual llega sellada con un precinto, la tula debe ser abierta en el área de Convenios Bancolombia, el precinto de la tula debe ser cantado ante cámara y las bolsas correspondientes a cada sucursal del banco deben ser organizadas por código de oficina de mayor a menor. Se procede a cantar la tula ante cámara, mencionando de manera clara el código de la oficina que remite la bolsa, si la bolsa contiene precinto, se debe cantar el número de precinto, la fecha de recaudo, el convenio al cual pertenecen, y la cantidad de documentos enviados; al vaciar la tula, se debe cantar como tula vacía, y se muestra ante cámara, esto con el objetivo de certificar que no quedan más documentos en el interior de la tula. Este procedimiento se lleva a cabo de la misma manera en cada ciudad en la cual se reciben los convenios.
Nota Durante el proceso de apertura de tulas, es posible que lleguen documentos que no pertenecen a este proceso o que pertenecen a una ciudad de destino distinta.
Estos documentos se cantan ante cámara como documentos mal remitidos, mencionando claramente la oficina que los envía, y se entrega al líder del proceso para que realice su devolución correspondiente
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.3.2.	Verificación De Cámaras
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Líder de procesos / Auxiliar de procesos
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      PRO-F-045 Control de pruebas de audio y video
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Se deben seguir los siguientes pasos en el área de lectura de tulas.
Realizar prueba de audio y video.
Al terminar la prueba se procede al área de producción donde se encuentra el equipo de monitoreo y verificar la efectividad de la prueba tanto de audio como de video la cual se registra en el formato PRO-F-045 Control de pruebas de audio y video
Si la prueba es efectiva se procede a cantar de lo contrario se debe solicitar soporte a área de T.I.
Verificar en el cuarto de monitoreo la calidad y efectividad de la grabación
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.3.3. Clasificación
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Auxiliar de Proceso / Líder de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Luego de la apertura y lectura de los documentos, se deben organizar los convenios por número de convenio y fecha de recaudo.
Para realizar la identificación del número de convenio, si el documento presenta timbre, este se revisa y se compara la información del documento:
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Nota:
      </b>
      En caso de que la información entre el timbre y el documento no coincida, se entrega al líder de proceso para que reporte la inconsistencia respectiva.
En formatos que tienen código de barras (EAN), la información se reparte así: Número de EAN que es la identificación del convenio, número de referencia del documento, valor total, fecha oportuna de pago o fecha de generación del documento:
Después de identificado el EAN, se ubica el convenio usando la Matriz de Campos Obligatorios, ubicado en la ruta: \\Servidor_Producción\Confidencial_Recaudos07_AAAA\Procesos_Recaudos \ANS
En caso de que el documento no presente código de barras ni timbre, se puede consultar su convenio en el aplicativo Convenios_Bancos.exe, en el menú: archivo/informes/Log_Bancarios/Informe_Log_Bancario y/o Informe_Log_Bancario_Conv. En la primera opción, digitar al menos dos campos representativos:
Valor
Referencia
Oficina
Convenio
En cambio, en la última opción (Informe_Log_Bancario_Conv) digitar el Ean encontrado para conocer el número de convenio.
Después de clasificado los documentos se empacan en bolsas transparentes y estas se marcan con el número de convenio y la fecha de recaudo, ejemplo: 20043 – 02 Enero AAAA y posteriormente se organizan los paquetes de menor a mayor convenio y menor a mayor fecha de recaudo
     </li>
    </ul>
   </div>
  </div>
  <div class="doc-subsection">
   6.4 Numeración
  </div>
  <div class="doc-subcontent">
   <div class="doc-subsubsection">
    6.4.1 Adhesivos para documentos (Sticker)
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Auxiliar de Proceso / Líder de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Cada documento perteneciente a Convenios requiere de un adhesivo que contiene una numeración que debe ser única para cada documento (no se debe repetir entre convenios).
Para la creación de estos adhesivos se utiliza el programa de ZebraDesigner 3. Las medidas de este sticker son de 67.04 mm de ancho x 15.00 mm de altura, estos adhesivos contienen el número y el nombre del convenio y el código de barras con su respectiva numeración, que consta de 9 dígitos: Los primeros dos dígitos consisten en el código del banco (07); el número siguiente la ciudad que recibió el documento y los seis dígitos siguientes es la secuencia de la impresión.
Los Números de las ciudades son los siguientes:
01: Bogotá
02: Barranquilla
03: Bucaramanga
04: Cali
05: Cartagena
06: Manizales
07: Medellín
08: Pereira
09: Ibagué
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Nota:
      </b>
      Para mayor control de la impresión de adhesivos, la única ciudad que imprime adhesivos es Bogotá, de ahí se distribuyen los adhesivos a las ciudades respectivas.
Teniendo esta información en cuenta, los adhesivos son así:
Las plantillas se encuentran en la siguiente ruta: \\Servidor_Producción\Confidencial_Recaudos07_AAAA\Procesos_Recaudos\BANCOLOMBIA \CIUDADES Ahí mismo se despliegan 9 carpetas, una por cada ciudad.
Para evitar que se repita la secuencia de numeración de cada adhesivo y tener un control de la cantidad y la fecha de impresión/ envío de adhesivos se diligencia el formato PRO-D-129 Control Impresión de Adhesivos, se diligencian los siguientes campos:
Convenio
Ciudad
Nombre convenio
Consecutivo inicial
Consecutivo final
Cantidad Impresa
Nombre de quien imprime
Este archivo se encuentra en la siguiente ruta: \\Servidor_Producción\Confidencial_Recaudos07_AAAA\Procesos_Recaudos\BANCOLOMBIA
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.4.2 Adhesivos para Envío (Paquetes)
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Auxiliar de Proceso / Líder de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Después de revisado y organizado cada paquete por convenio, se le coloca un adhesivo, el cual se utiliza para realizar seguimiento y control de la cantidad de paquetes enviado por convenio. Este adhesivo consta de 13 dígitos: Los primeros dos dígitos consisten con el número del banco (07); el número de la ciudad que envía el documento (véase 6.3.1); año vigente; cinco dígitos para el número del convenio, y tres dígitos siguientes son la numeración.
De acuerdo con esta información, los adhesivos son así:
Las plantillas se encuentran en la siguiente ruta: \\Servidor_Producción\Confidencial_Recaudos07_AAAA\Procesos_Recaudos\BANCOLOMBIA \ADHESIVOS ENVÍO Ahí mismo se despliegan 9 carpetas, una por cada ciudad.
Para evitar que se repita la numeración, se diligencia el formato PRO-D-129 Control Impresión de Adhesivos
     </li>
    </ul>
   </div>
  </div>
  <div class="doc-subsection">
   6.5. Digitalización de imágenes
  </div>
  <div class="doc-subcontent">
   <div class="doc-subsubsection">
    6.5.1. Digitalización Imágenes de Bogotá
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Auxiliar de Proceso / Líder de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Esta actividad aplica para todos los convenios.
Extraer imágenes de los documentos físicos, por medio de scanner, de tal manera que sean copia del original.
Las imágenes deben tener estas características:
Imágenes en Blanco y Negro.
Formato .tif.
Resolución 300 pp
Peso entre 15 kb y 250 kb.
Digitalizar las imágenes en la ruta (Únicamente para Bogotá): \\Servidor_Produccion\Confidencial_Recaudos07_AAAA\scan\ (Número de convenio) \aaaammdd\EF\HN.
Renombrar las imágenes con el código de convenio (5 dígitos), la ciudad de digitalización, el mes y el día de la digitalización (mmdd) consecutivo automático que genera el scanner.
Ejemplo:
100107220001 para los digitalizados en Bogotá
100207220001 para los digitalizados en Barranquilla.
100: Convenio
1: Ciudad
0722: Mes y Año
0001: Consecutivo
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Nota:
      </b>
      Esta información se sube a la base de datos, por lo tanto, no se deben de modificar, mover ni eliminar, debido a que generan conflicto en el aplicativo de convenios.
Nota 2: Digitalizar imágenes a blanco y negro, no se deben digitalizar  a color ni a escala de grises debido a que el peso aumenta y no pueden visualizar ni subir al sitio web
     </li>
    </ul>
   </div>
  </div>
  <div class="doc-subsection">
   6.6. Carga de Imágenes
  </div>
  <div class="doc-subcontent">
   <div class="doc-subsubsection">
    6.6.1. Traspaso de Imágenes de ciudades
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Auxiliar de Proceso / Líder de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Antes de realizar la carga de imágenes, se deben de pasar las imágenes de ciudades que se encuentran en la ruta: \\Servidor_Producción\Confidencial_Recaudos07_AAAA\Procesos_Recaudos\Imagenes Ciudades. a la carpeta “Scan”, que se encuentra ubicada en:  \\Servidor_Produccion\Confidencial_Recaudos07_AAAA\scan\ (Número de convenio) \aaaammdd\EF\HN.
Para esto, se abre la carpeta “Imágenes ciudades”, y se ingresa a cada convenio, posteriormente  se abren las carpetas creadas con las fechas de recaudo, (en este caso carpeta 101 con fecha de recaudo del AAAA0723)
Se cortan las imágenes y se pasan a la “Scan” allí se ingresa al convenio y a la fecha de recaudo correspondiente, seguido de la carpeta “EF”, se crea una carpeta “HN” y se pegan las imágenes
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Nota:
      </b>
      En caso de que la carpeta HN ya se encuentre creada, se crea la carpeta HN1, y si esta ya se encuentra, se crea una con el número de la siguiente secuencia. (En este caso, como las carpetas “HN” y “HN1” ya fueron creadas, se crea la carpeta “HN2” y se pegan las imágenes)
Después de realizar este paso, se debe de eliminar la carpeta de la fecha de recaudo que se encontraba en “Imágenes ciudades”.
Nota 2: Dejar las carpetas de convenios vacías (Así como en la imagen anterior), esto con el propósito de evitar atrasos en la búsqueda de las imágenes de las ciudades.
Nota 3: Después de realizada la carga de imágenes, al momento de digitalizar nuevamente se debe crear una carpeta “HN” diferente
     </li>
    </ul>
   </div>
  </div>
  <div class="doc-subsection">
   6.7. Grabación
  </div>
  <div class="doc-subcontent">
   <ul>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Responsable:
     </b>
     Digitador
    </li>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Registro:
     </b>
     No aplica
    </li>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Descripción:
     </b>
     Ingresar al aplicativo Convenios_Bancos.exe, dar clic en Captura_1, aparece una ventana y digitar los siguientes datos de acuerdo con las características de cada convenio:
Tipo_Imp (Número de convenio): seleccionar el número de convenio.
Tipo_Pago: Siempre Efectivo.
Referencia_1: Revisar matriz de campos obligatorios
Cod_Barras o Referencia_3: Número de Adhesivo (Incluir siempre en 0)
Cod_Barras_2: Digitar Número de adhesivo nuevamente.
Valor_Total: Digitar dos veces el valor total.
Oficina: La oficina indicada en el timbre, en caso de no encontrar ninguna, grabar como oficina “1”.
En el aplicativo, al digitar la Referencia_1, esta cruza contra el log y automáticamente hace el llamado de los campos: valor, oficina y horario. El Cod_Barras que es el adhesivo, lo reconoce automáticamente el aplicativo, si hay campos que no reconoce el aplicativo, realizar doble captura.
Tener en cuenta la Matriz de Campos Obligatorios para revisar que referencia se debe de tomar.
Al digitar, se pueden observar varias inconsistencias, al presentarse una, dar en la función F2, la cual permite omitir la planilla a grabar, de acuerdo con el error evidenciado, en la pestaña abierta, digitar el código de la inconsistencia y aceptar.
Estos códigos son:
01 - Imagen Recortada
02 – Sin Referencia
03 – Sin valor
05 – Sin detalles o anexos
06 – Convenio diferente
07 – Código de barras ilegible
09 – Referencia 3 repetida
10 – Referencia 3 ciudad inválida
00 – No especifica error
Nota 1: Si en el documento no se encuentra algún campo de grabación especificado anteriormente, omitir y reportar como inconsistencia
    </li>
   </ul>
  </div>
  <div class="doc-subsection">
   6.8. Validación
  </div>
  <div class="doc-subcontent">
   <div class="doc-subsubsection">
    6.8.1. Revisar imágenes abiertas
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Auxiliar de Proceso / Líder de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Ingresar al aplicativo Convenios_Bancos.exe, dirigirse a la opción Archivo/Estado_Grab.
Se abre un recuadro, y seleccionar el rango de fechas que se envió a cargar, dar clic en aceptar, para revisar si existen imágenes abiertas, la primera línea de información aparecen en amarillo:
Se purga la información dando clic en el botón:
Y se graban nuevamente las imágenes abiertas.
Nota 1: Para revisar que convenios hay que grabar, en la opción de Estado_Grab seleccionar el rango de fechas cargadas, dar clic en aceptar y posteriormente en Exportar.
El archivo generado se encuentra en la ruta: \\Servidor_Produccion\Confidencial_Recaudos07_AAAA\ArchivosSalida\INFORMES\RPT_XLS abrir la carpeta de la fecha de generado el archivo (Fecha actual) y abrir el archivo Rpt_Xls.CSV
Eliminar la línea 2 y 3 del informe generado,
Posteriormente en el campo de Faltantes, generar una fórmula +B2-C2-D2 y correr la fórmula.
Posteriormente filtrar y en el campo Faltantes Se elimina el registro en 0, los documentos que queden pendientes, son los convenios pendientes por grabar.
Se graban y se verifican.
Nota 2: Para saber que no hay documentos pendientes por grabación, se ingresa al aplicativo en la opción de Estado_Grab / Seleccionar el rango de fechas cargada, y al dar clic en aceptar, no debe de salir documentos en amarillo
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.8.2. Revisar imágenes omitidas
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Auxiliar de Proceso / Líder de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Validar porque motivo se omitió la imagen, en el aplicativo, ingresar a la opción Archivo/Informes/Img_Omitidas
Ingresar fecha de recaudo y convenio, y ahí aparece la imagen del documento y el motivo por el cual el digitador la omitió. Se revisa y en el aplicativo da la opción de Grabar_Img o Eliminar_Img
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.8.3. Revisar sobrantes
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Auxiliar de Proceso / Líder de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Ingresar al aplicativo Convenios_Bancos.exe, dirigirse a la opción Archivo/Informes/Cuadres
En fecha de recaudo, se selecciona el rango de fechas que se envió a grabación; en tipo de impuesto se selecciona la opción 0 - Todos; en tipo de pago siempre en efectivo y en tipo de reporte se genera el reporte de sobrantes.
Esta opción permite comparar la información del Log enviado por el cliente con las capturas realizadas. Hay que tener en cuenta que en esta validación se pueden encontrar: diferencias en valor, sobrantes, referencias erradas.
Esta herramienta trae columnas con la información de las imágenes grabadas que presentan error, más las columnas con la fecha, valor y oficina de la referencia errada. En este aplicativo permite modificar la referencia errada; si se presenta la necesidad de mover un documento a otra fecha de recaudo u a otro convenio se puede realizar. Se corrigen los errores y diferencias, dejando únicamente los sobrantes reales.
A medida que se van encontrando sobrantes reales, se va llenando el formato “Reporte de Sobrantes” el cual se encuentra ubicado en la ruta: \\Servidor_Produccion\Confidencial_Recaudos07_AAAA\Procesos_Recaudos\Sobrantes, allá se crea una carpeta donde se adjunta el archivo y las imágenes de los documentos sobrantes.
Estas imágenes se consiguen en la opción de Archivo/Informes/Cuadres/Copiar_Img_F
Las imágenes quedan en la siguiente Ruta: C:\Rpt_Xls\Imagenes\Sobrante\07
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.8.4. Revisar Repetidos
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Auxiliar de Proceso / Líder de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Posteriormente se revisan los documentos sobrantes, se revisan los documentos que quedaron repetidos (aquellos documentos donde se repite referencia y valor) esto de identificar que los documentos que aparezcan en esta opción sean repetidos reales.
Ingresar al aplicativo Convenios_Bancos.exe, dirigirse a la opción Archivo/Informes/Reg_Repetidos
Seleccionar el mismo rango de fechas el cual se envío a grabación, en tipo de impuesto se seleccionan 0- Todos y en tipo de pago siempre Efectivo; validar las referencias que aparecen. Esta herramienta permite revisar las imágenes, eliminarlas y grabarlas nuevamente (en caso de que haya sido error de grabación).
Cuando se presentan repetidos reales, se llena el Excel “Reporte de Repetidos reales” que se encuentra en la ruta: \\Servidor_Produccion\Confidencial_Recaudos07_AAAA\Procesos_Recaudos\Sobrantes
En ese cuadro se completa con el Número de referencia, el convenio, fecha de recaudo, valor total, Cod de Barras y la Oficina
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Nota:
      </b>
      Para realizar este tipo de validación se discrimina la fecha de recaudo y se selecciona el convenio a validar y ahí se selecciona el documento y posteriormente se Elimina o se Graba nuevamente
     </li>
    </ul>
   </div>
   <div class="doc-subsubsection">
    6.8.5. Trasmisión Imágenes – Generar Visor
   </div>
   <div class="doc-subsubcontent">
    <ul>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Responsable:
      </b>
      Auxiliar de Proceso / Líder de Proceso
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Registro:
      </b>
      No aplica
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Descripción:
      </b>
      Al realizar la grabación, si la información de la imágenes concuerda con lo digitado, las imágenes se suben en línea al sitio web, de lo contrario, se realiza la actividad de manera manual, generando el visor de imágenes y publicación en sitio web, así:
Después de realizar las validaciones de omitidos, sobrantes y repetidos, se ingresa al aplicativo Convenios_Bancos.exe Seleccionar Archivo/Visor/Generar_Visor:
Diligenciar el rango de fechas enviadas a grabación y el convenio a validar.
Al dar clic en Aceptar trae los documentos pendientes por subir al sitio web.
Dar clic en Verificar (recuadro gris) en esta opción valida referencias incompletas o inexistentes, documentos cuya oficina o valor es diferente al del Log, los registros así, toman color amarillo, se valida este tipo de inconsistencias y corregir en la opción archivo/informe/informe_grabacion
Los registros con oficina 1 que en Log no se encuentran, toman color amarillo
     </li>
     <li>
      <i class="fa-regular fa-circle-check">
      </i>
      <b>
       Nota:
      </b>
      Los únicos documentos que deben salir en amarillo, son los que aparecen sobrantes.
También valida registros en los cuales una imagen ha sido movida y/o no está disponible toman color rojo, validar la disponibilidad de imagen en la ruta: \\Servidor_Produccion\Confidencial_Recaudos07_AAAA\scan convenio, fecha y lote respectivo. Si un registro de adhesivo no tiene 9 dígitos o está en blanco, o una referencia en blanco también es una inconsistencia mostrada en rojo.
Si una referencia con la misma información ya se subió al sitio web, de haber registros allí. De existir registros así, en el detallado toman color aguamarina. En caso de esto, se le da clic en Verificar (el recuadro aguamarina) y volver a dar clic en Verificar (Recuadro Gris)
Dar clic en Oficina, trae las oficinas cuya referencia, valor y fecha coincida con el Log.
Volver a dar clic en Verificar y corroborar que las imágenes en amarillo sean sobrantes reales. (En caso de que no existan imágenes en amarillo proseguir)
Dar clic en Generar_CD, aquí las imágenes suben a página web y simultáneamente genera un visor, para ser quemado en DVD, guardado en la ruta: \\Servidor_Produccion\Confidencial_conv07_AAAA\	DVD
Renombrado así: consecutivo_convenio
Ejemplo: 49180_52079
Finalmente generado el visor de CD, el aplicativo muestra una alerta de culminación.
De requerir generar un nuevo visor de CD, dar clic en la opción iniciar CD, y repetir los pasos de esta actividad
     </li>
    </ul>
   </div>
  </div>
  <div class="doc-subsection">
   6.9. Generación de Informes
  </div>
  <div class="doc-subcontent">
   <ul>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Responsable:
     </b>
     Auxiliar de Proceso / Líder de Proceso
    </li>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Registro:
     </b>
     No aplica
    </li>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Descripción:
     </b>
     Luego de realizar las validaciones, se genera el informe final, el cual se envía al banco, para realizar esto nos dirigimos al aplicativo Convenios_Bancos.exe, luego nos dirigimos a la opción Archivos/Informes/Cuadres, en el recuadro que se abre, se coloca el rango de fechas con el cual se va a realizar el informe. Para establecer este rango se revisa el mes donde se encuentran las últimas faltantes reales presentadas. En este caso, como presentamos documentos faltantes reales del mes de Junio, el informe se genera desde el 01 de Junio al día generado el informe, en este caso 09 de Agosto. En tipo de Impuesto, se seleccionan todos, en tipo de pago, siempre efectivo, en tipo de reporte se deja en blanco y se selecciona Informe_DG, automática va a generar el informe solicitado.
Después de que el archivo se haya generado, se ubica en la siguiente ruta: \\Servidor_Produccion\Confidencial_Recaudos07_AAAA\ArchivosSalida\INFORMES\07_INFORME\(dia en que se genera el informe) \Planos Ahí encontramos un TXT, estos documentos se renombran REC_DG_(Fecha y hora de generado el informe)
Luego de generado el informe, se abre el informe en Excel (para esto hay dos opciones, por arrastre o directamente desde el Excel) y ahí mismo se despliega el informe, en la columna D, o la ReferenciaPpal1, se deja en número:
Después de realizado ese paso, se realiza un tabla dinámica en donde: Filas, ubicamos la fecha efectiva; en columnas, ubicamos el EstadoConciliacion y en Valores, seleccionamos la ReferenciaPpal1, le damos clic derecho, configuración campo de valor y la resumimos por Recuento
Quedando así:
Se pasa la tabla a Valores y posteriormente se eliminan las tres primeras filas, se selecciona el recuadro y se selecciona Tabla, vamos a un informe inmediatamente anterior, y buscamos la columna F (Total Log) se copia, se pega en la tabla actual, y se va completando con los documentos que se cargaron en el Log.
Para saber esto nos dirigimos al aplicativo: Convenios_Bancos.exe, archivos/Informes/Log_Bancario/Consultar_Archivos_Cargados se selecciona la fecha que se cargó, en este caso la AAAA/08/08, clic en Aceptar y automáticamente sale la cantidad.
Después de agregada la cantidad de documentos que aparecen en el Log de la fecha más reciente, en la parte de los totales, se agrega la siguiente formula: =subtotales (9;b2:b…)
Se guarda el documento en Excel, y se deja con el mismo nombre y se hace una carpeta comprimida .zip, el documento .txt y el Excel generados, quedando así:
Después se debe subir el documento al sitio web, realizando la siguiente ruta: Convenios/subir/carga
Posteriormente sale un recuadro, y en seleccionar se abre la opción de Convenios, se selecciona esa opción y posteriormente en Elegir Archivo se abre un recuadro en el cual se debe seleccionar el documento a publicar (importante que el documento esté en .zip) se le da doble clic y posteriormente se da clic en Aceptar y se espera la notificación que indica que la publicación quedó exitosa:
Después de que el archivo fue publicado (aquí mismo se publican las imágenes de los documentos sobrantes presentados) se envía correo al banco, donde se adjunta la tabla dinámica que realizamos anteriormente, la cantidad de documentos sobrantes, y la fecha de los faltantes actualizados; así mismo adjuntamos el archivo Excel que enviamos, el correo se envía con Asunto: Reporte exitosos, sobrantes y faltantes  (Fecha del día presente, en este caso del AAAA-08-09) Convenios Bancolombia
    </li>
   </ul>
  </div>
  <div class="doc-subsection">
   6.9. Reporte Exitosos y Faltantes Ciudades:
  </div>
  <div class="doc-subcontent">
   <ul>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Responsable:
     </b>
     Auxiliar de Proceso / Líder de Proceso
    </li>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Registro:
     </b>
     No aplica
    </li>
    <li>
     <i class="fa-regular fa-circle-check">
     </i>
     <b>
      Descripción:
     </b>
     Posterior se envía el informe al banco, tomamos el Excel que realizamos en el punto anterior, lo copiamos y lo pegamos en la ruta: \\Servidor_Produccion\Confidencial_Recaudos07_AAAA\Procesos_Recaudos\Reporte Faltantes y se pega, allí mismo le cambiamos el nombre, por Reporte Exitosos – falta(fecha del día presente, en este caso AAAA0809) se abre el Excel, y se elimina la primera hoja creada en el punto anterior
En la hoja restante, nos ubicamos en la columna G, y agregamos una columna, la cual llamaremos “Regional”, luego nos dirigimos a la siguiente ruta: \\Servidor_Produccion\Confidencial_Recaudos07_AAAA\Procesos_Recaudos\ANS y abrimos el archivo Tabla de oficinas Bancolombia 2023-06-23, nos dirigimos al Reporte de Exitosos y en la casilla G1 realizamos la siguiente fórmula: =BuscarV[(Casilla F2);
Posteriormente nos dirigimos a la Tabla de Oficinas previamente abierta, y seleccionamos toda la columna B hasta la F,
Agregamos el “;” (punto y coma) y colocamos el número 5, otro “;” (punto y coma) y en la lista desplegable que aparece, seleccionamos la que diga “Falso”
Al seleccionar la opción de “Falso”, aparece la seccional donde el documento puede llegar de acuerdo con el número de sucursal indicado, corremos la fórmula por toda la columna G, y la fórmula nos debe de quedar así:
Después de que se corre la fórmula por toda la columna, necesitamos pasar esos datos a valores, por lo cual, copiamos la columna G y la pegamos en valores.
Cuando la fórmula está completa, seleccionamos todo el documento y lo convertimos a tabla, (se recomienda separar por colores los estados de la documentación Exitoso, faltante y sobrante) y les realizamos una tabla dinámica, para segmentar mejor la información.
Cuando ya seleccionamos la opción de tabla dinámica, en el campo de Filas vamos primero a seleccionar el campo de Regional y No de Convenio; en el campo de Columnas, agregamos el campo de EstadoConciliacion y en el campo de valores, agregamos la ReferenciaPpal1 y la resumimos en recuento.
Luego, en la opción de “Analizar tabla dinámica”, damos clic en Insertar Segmentación de Datos, y los campos a segmentar van a ser NoConvenio y FechaEfectiva;
Ubicamos las segmentaciones nuevas y quedando el informe final así:
Guardamos el documento; este documento va dirigido a las ciudades que manejamos dentro de Digicom, por lo cual se envía un correo con asunto “REPORTE  EXITOSOS FALTANTES,- CONVENIOS BANCOLOMBIA  (Fecha de generado en informe, en este caso AAAA-08-09” ahí modificamos las fechas de recaudos encontradas en el informe y los faltantes actualizados, adjuntamos el archivo de Reportes en Excel y lo enviamos.
Sobre este archivo se realiza el proceso de envío y la revisión de faltantes reales
    </li>
   </ul>
  </div>
 </div>
 <div class="doc-section" data-id="7">
  7. Indicadores de Desempeño:
 </div>
 <div class="doc-content" data-id="7">
  <ul>
   <li>
    <i class="fa-regular fa-circle-check">
    </i>
    <b>
     Registro:
    </b>
    GER-D-001 Indicador - Convenios AAAA
   </li>
  </ul>
 </div>
 <div class="doc-section" data-id="8">
  8. Control de Proceso:
 </div>
 <div class="doc-content" data-id="8">
 </div>
</div>

<!-- Botones y Modals para edición -->
<button class="btn btn-outline-primary" id="openModalBtn" style="margin-top: 20px;">Editar Secciones</button>
<div class="modal" id="sectionModal">
    <div class="modal-content">
        <span class="close-button">×</span>
        <h2>Selecciona y Edita una Sección</h2>
        <select id="sectionSelector"><option value="">-- Selecciona --</option></select>
        <textarea id="sectionContent" placeholder="Contenido..."></textarea>
        <textarea id="sectionCambio" placeholder="Descripción del cambio..." required></textarea>
        <button class="btn btn-outline-primary" id="saveChangesBtn" style="margin-top: 15px;">Guardar Cambios</button>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/acordeon_doc.js')}}"></script>
<script src="{{ url_for('static', filename='js/edita_procedimiento.js')}}"></script>

{% endblock %}
