{% extends 'home_aula.html' %}
{% block title %}Aula Virtual{% endblock %}
{% block content %}

<div class="welcome-header" style="text-align: left; margin-bottom: 40px;">
    <h2 style="font-size: 2.2rem; color: var(--primary-color); font-weight: 800;">¡Bienvenido al Aula Virtual de Digicom
        System Corporation!</h2>
    <p style="color: var(--modal-text-soft); font-size: 1.1rem;">Selecciona una opción del menú para comenzar a
        gestionar tus cursos.</p>

    <div class="feature-grid">
        <!-- tarjeta cursos -->
         <div class="feature-card" onclick="location.href='{{ url_for('aula.cursos_abiertos') }}'">
            <i class="fa-solid fa-book-open-reader"></i>
            <h3>Mis Cursos</h3>
            <p>Accede al material de estudio y presenta tus evaluaciones.</p>
         </div>


        <div class="feature-card" onclick="location.href='{{ url_for('aula.mis_resultados') }}'" style="cursor: pointer;">
            <i class="fa-solid fa-square-poll-vertical"></i>
            <h3>Resultados</h3>
            <p>Consulta las notas de tus evaluaciones presentadas.</p>
        </div>

        <div class="feature-card">
            <i class="fa-solid fa-award"></i>
            <h3>Certificados</h3>
            <p>Descarga tus certificados de aprobación.</p>
        </div>
    </div>
</div>
{% endblock %}