<link rel="stylesheet" href="{{ url_for('static', filename='css/home_admin.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_indicadores.css') }}">

<body class="blue-theme">

    <!-- MENU LATERAL -->
    <nav class="main-menu">
        <div class="user-info">
            <div class="user-info">
                <div style="font-size: 3rem; color: var(--accent-color); margin-bottom: 10px;">
                    <i class="fa-solid da-circle-user"></i>
                </div>
                <p style="font-weight: 800; color: var(--primary-color);">{{ estudiante.nombre }}</p>
                <small style="color: var(--modal-text-soft); font-size: 0.7rem;">ESTUDIANTE</small>
            </div>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="{{ url_for('aula.cursos_estudiante') }}">
                    <i class="fa-solid fa-house-user nav-icon"></i>
                    <span class="nav-text">Inicio</span>
                </a>
            </li>
        </ul>
        <ul class="logout-section" style="margin-top: auto;">
            <li class="nav-item">
                <a href="{{ url_for('auth.login') }}" style="color: #ef4444;">
                    <i class="fa-solid fa-right-from-bracket nav-icon"></i>
                    <span class="nav-text">Cerrar Sesión</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- FINALIZA MENU LATERAL -->

    <main class="content">
        <section class="left-content">
            <div class="welcome-section">
                {% block content %}
                <!-- Contenido específico de cada página -->
                {% endblock %}
                <!-- FINALIZA MENU CENTRAL -->
            </div>
        </section>
        <section class="right-content">
            <div class="analytics">
                <h1 style="font-size: 1.2rem;">Tu Perfil</h1>
                <div class="contact-status">
                    <p><strong>Cargo:</strong> <br> {{estudiante.cargo}}</p>
                    <hr style="margin: 10px 0; border: 0; border-top: 1px solid var(--border-color);">
                    <p><strong>Proceso:</strong> <br> {{estudiante.proceso}}</p>
                </div>
            </div>
        </section>
    </main>

</body>

<script src="{{ url_for('static', filename='js/home_admin.js') }}"></script>