<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <svg width="100%" height="120" viewBox="0 0 1200 120" preserveAspectRatio="xMidYMin meet"
        style="position: absolute; top: 20px; left: 0; z-index: 10;">
        <defs>
            <!-- Curva más amplia y suave para texto largo -->
            <path id="arc-path" d="M50,60 Q600,0 1150,60" fill="none" stroke="none" />
        </defs>
        <text font-family="Poppins, sans-serif" font-size="22" fill="#23a2f6" text-anchor="middle">
            <textPath href="#arc-path" startOffset="50%" textLength="1100" lengthAdjust="spacingAndGlyphs">
                Sistema de Gestion Integrado - DIGICOM SYSTEM CORPORATION S.A
            </textPath>
        </text>
    </svg>
    {% with messages = get_flashed_messages(with_categories=true ) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="login-error-msg alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


    <div class="login-container">
        <div class="login-tabs">
            <button type="button" class="tab-btn active" onclick="showLogin('sgi', this)">SGI</button>
            <button type="button" class="tab-btn" onclick="showLogin('rrhh', this)">RRHH</button>
            <button type="button" class="tab-btn" onclick="showLogin('aula', this)">Aula Virtual</button>
        </div>
        <div class="login-slider">
            <!-- LOGIN SGI -->
            <form id="login-sgi" class="login-form active" method="POST" action="{{ url_for('auth.login') }}">


                <input type="hidden" name="tipo_login" value="sgi">
                <label for="username">Usuario</label>
                <input type="text" name="username" placeholder="Usuario" id="username">

                <label for="password">Contraseña</label>
                <input type="password" name="password" placeholder="Contraseña" id="password">

                <button type="submit">Ingresa a SGI</button>
                <!-- <div class="social">

            <div class="go"><a href="{{ url_for('aula.aula') }}">Aula Virtual</a></div>
        </div> -->
            </form>

            <!-- LOGIN RRHH -->
            <form id="login-rrhh" class="login-form" method="POST" action="{{ url_for('auth.login') }}">

                <input type="hidden" name="tipo_login" value="rrhh">
                <label for="username">Usuario</label>
                <input type="text" name="username" placeholder="Usuario" id="username">

                <label for="password">Contraseña</label>
                <input type="password" name="password" placeholder="Contraseña" id="password">

                <button type="submit">Ingresa a RRHH</button>
            </form>

            <!-- LOGIN AULA -->
            <form id="login-aula" class="login-form" method="POST" action="{{ url_for('auth.login') }}">

                <input type="hidden" name="tipo_login" value="aula">
                <label for="username">Numero de identificacion</label>
                <input type="text" name="username" id="username">

                <button type="submit">Ingresa al Aula Virtual</button>
                <!-- <div class="social">

            <div class="go"><a href="{{ url_for('aula.aula') }}">Aula Virtual</a></div>
        </div> -->
            </form>
        </div>
    </div>

    <script>
        function showLogin(tipo, btn) {
            const slide = document.querySelector('.login-slider');
            const tabs = document.querySelectorAll('.tab-btn');

            let index = 0;
            if (tipo === 'rrhh') index = 1;
            if (tipo === 'aula') index = 2;

            slide.style.transform = `translateX(-${index * 33.333}%)`;

            tabs.forEach(t => t.classList.remove('active'));
            btn.classList.add('active');
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () =>{
            const errorMsg = document.querySelector('.login-error-msg');

            if (errorMsg){
                const activeForm = document.querySelector('.login-form');

                if (activeForm){
                    activeForm.classList.remove('login-error');
                    void activeForm.offsetWidth;
                    activeForm.classList.add('login-error');
                }
            }
        })
    </script>
</body>
<!-- <div class="go"><a href="{{ url_for('auth.register') }}">¿No tienes cuenta? Regístrate</a></div> -->

</html>