<form action="{{ url_for('ind.guardar_TRespuesta_Credito') }}" method="post">
    <input type="hidden" id="procesoInput_{{ proceso }}" name="proceso" value="{{ proceso }}" data-proceso="{{ proceso }}">
    <div>
        <label class="form-label" for="mes_TRespuesta_{{ proceso }}">Mes</label>
        <select id="mes_TRespuesta_{{ proceso }}" name="mes_TRespuesta" required>
            <option value="">Seleccione un mes</option>
            <option value="Enero">Enero</option>
            <option value="Febrero">Febrero</option>
            <option value="Marzo">Marzo</option>
            <option value="Abril">Abril</option>
            <option value="Mayo">Mayo</option>
            <option value="Junio">Junio</option>
            <option value="Julio">Julio</option>
            <option value="Agosto">Agosto</option>
            <option value="Septiembre">Septiembre</option>
            <option value="Octubre">Octubre</option>
            <option value="Noviembre">Noviembre</option>
            <option value="Diciembre">Diciembre</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="t_creditos">Total de Creditos Recibidos</label>
        <input class="form-control" type="number" id="t_creditos_{{ proceso }}" name="t_creditos" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="t_respuesta">Tiempo de Respuesta en minutos y segundos del mes anterior</label>
        {% if proceso == 'complementacion_repsuestaCreditoOCI' %}
        <input class="form-control" type="text" id="mes_anterior_{{ proceso }}" name="" placeholder="MM:SS"
            pattern="^[0-5]?[0-9]:[0-5][0-9]$">
        {% elif proceso == 'complementacion_repsuestaCreditoTradicional' %}
        <input class="form-control" type="text" id="mes_anterior_{{ proceso }}" name="mes_anterior" placeholder="HH:MM:SS"
            pattern="^([0-9]{1,2}:)?[0-5]?[0-9]:[0-5][0-9]$">
        {% endif %}


    </div>
    <div class="mb-3">
        <label class="form-label" for="t_respuesta">Tiempo de Respuesta en minutos y segundos</label>
        {% if proceso == 'complementacion_repsuestaCreditoOCI' %}
        <input class="form-control" type="text" id="t_respuesta_{{ proceso }}" name="t_respuesta" placeholder="MM:SS"
            pattern="^[0-5]?[0-9]:[0-5][0-9]$">
        {% elif proceso == 'complementacion_repsuestaCreditoTradicional' %}
        <input class="form-control" type="text" id="t_respuesta_{{ proceso }}" name="t_respuesta" placeholder="HH:MM:SS"
            pattern="^([0-9]{1,2}:)?[0-5]?[0-9]:[0-5][0-9]$">
        {% endif %}

    </div>
    <div class="mb-3">
        <label class="form-label" for="resultado_TRespuesta">Variacion (Segundos)</label>
        <input class="form-control" type="text" id="resultado_TRespuesta_{{ proceso }}" name="resultado_TRespuesta"
            readonly>
    </div>
    <div class="mb-3">
        <label class="form-label" for="Analisis_TRespuesta">Analisis</label>
        <textarea id="Analisis_TRespuesta_{{ proceso }}" name="Analisis_TRespuesta"></textarea>
    </div>
    <button type="submit">Guardar</button>
</form>


<div class="container mt-4">

    <div class="accordion" id="acordeonTabla">
        <div class="accordion-header" onclick="this.parentElement.classList.toggle('active')">
            Ver Tabla de Registros
        </div>
        <div class="accordion-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mes</th>
                        <th>Total de Creditos</th>
                        <th>Tiempo de Respuesta</th>
                        <th>Resultado</th>
                        <th>Analisis</th>
                    </tr>
                </thead>
                {% for registro in datos_repsuestaCredito %}
                <tbody>
                    <tr>
                        <td>{{registro[0]}}</td>
                        <td>{{registro[1]}}</td>
                        <td>{{registro[2]}}</td>
                        <td>{{registro[3]}}</td>
                        <td>{{registro[4]}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    <h3>Porcentaje de Casos por Mes</h3>
    <canvas id="grafica_TRespuesta_{{ proceso }}" width="400" height="200"></canvas>
</div>

<!-- Chart.js debe ir antes del script que lo usa -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.getElementById('mes_TRespuesta_{{ proceso }}').addEventListener('change', function () {
        const mes = this.value;
        const proceso = document.getElementById('procesoInput_{{ proceso }}').dataset.proceso;
        if (!mes) return;

        fetch(`/get_tiempo_mes_anterior?mes=${encodeURIComponent(mes)}&proceso=${encodeURIComponent(proceso)}`)
            .then(res => res.json())
            .then(data => {
                console.log("tiempo_{{ proceso }}: " + data.tiempo_respuesta)
                if (data.tiempo_respuesta) {
                    document.getElementById('mes_anterior_{{ proceso }}').value = data.tiempo_respuesta;
                } else {
                    document.getElementById('mes_anterior_{{ proceso }}').value = "";
                }
            })
            .catch(err => console.error("Error:", err));
    });
</script>
<script>
    const ctx_TRespuesta_{{ proceso }} = document.getElementById('grafica_TRespuesta_{{ proceso }}').getContext('2d');
    const grafica_TRespuesta_{{ proceso }} = new Chart(ctx_TRespuesta_{{ proceso }}, {
        type: 'line',
        data: {
            labels: {{ meses_repsuestaCredito|default([]) | tojson | safe }},
        datasets: [{
            label: 'Porcentaje Nacionales (%)',
            data: {{ tiempo_repsuestaCredito|default ([]) | tojson | safe }},
        borderColor: 'rgba(255, 99, 132, 1)',
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        fill: true,
        tension: 0.3
            }]
        },
        options: {
        scales: {
            y: {
                beginAtZero: true,
                ticks: {
                    callback: function (value) {
                        let hours = Math.floor(value / 3600);
                        let minutes = Math.floor((value % 3600) / 60);
                        let seconds = value % 60;

                        if (hours > 0) {
                            return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
                        } else {
                            return `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
                        }
                    }
                }

            }
        }
    }
        
    });
</script>
<script>
    function timeToSeconds(timeString) {
        const parts = timeString.split(':').map(Number);
        if (parts.length === 2) {
            //MM:SS
            return (parts[0] * 60) + parts[1];
        } else if (parts.length === 3) {
            //HH:MM:SS
            return (parts[0] * 3600) + (parts[1] * 60) + parts[2];
        }
        return 0;
    }

    document.addEventListener('input', function () {
        const t_creditos = parseInt(document.getElementById("t_creditos_{{ proceso }}").value) || 0;
        const mes_anterior = document.getElementById("mes_anterior_{{ proceso }}").value || "";
        const t_respuesta = document.getElementById("t_respuesta_{{ proceso }}").value || "";

        let resultado = 0;
        if (t_creditos > 0 && mes_anterior.includes(":") && t_respuesta.includes(":")) {
            const total_mes_anterior = timeToSeconds(mes_anterior);
            const total_t_respuesta = timeToSeconds(t_respuesta);
            resultado = total_t_respuesta - total_mes_anterior;
        }

        document.getElementById("resultado_TRespuesta_{{ proceso }}").value = resultado + " seg";
    });

</script>