{% extends 'home.html' %}
{% block title %}Documentacion{% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='css/acordeon_doc.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/procedimientos.css') }}" rel="stylesheet" />

<div id="documento" style="display:none;">procedimientos/HTML/PRO-PR-032 Entregas Documentales.html</div>
<div id="nombre_documento" style="display: none;">PRO-PR-032 Entregas Documentales</div>
<h1>PRO-PR-032 Entregas Documentales</h1>
{% for cambio in cambios %}
{% if loop.first %}
<h3>Version: {{cambio[3]}}</h3>
{% endif %}
{% endfor %}
<br />
<div class="doc-accordion">
 <div class="doc-section" data-id="1">
  1. OBJETIVO
 </div>
 <div class="doc-content" data-id="1">
 </div>
 <div class="doc-section" data-id="2">
  2. ALCANCE
 </div>
 <div class="doc-content" data-id="2">
 </div>
 <div class="doc-section" data-id="3">
  3. RESPONSABLES
 </div>
 <div class="doc-content" data-id="3">
 </div>
 <div class="doc-section" data-id="4">
  4. DEFINICIONES
 </div>
 <div class="doc-content" data-id="4">
 </div>
 <div class="doc-section" data-id="5">
  5. DOCUMENTOS DE REFERENCIA
 </div>
 <div class="doc-content" data-id="5">
 </div>
 <div class="doc-section" data-id="6">
  6. DESCRIPCIÓN DEL PROCESO
 </div>
 <div class="doc-content" data-id="6">
 </div>
 <div class="doc-section" data-id="7">
  7. INDICADORES DE DESEMPEÑO
 </div>
 <div class="doc-content" data-id="7">
 </div>
 <div class="doc-section" data-id="8">
  8. CONTROL DEL PROCEDIMIENTO
 </div>
 <div class="doc-content" data-id="8">
  <p>
   03/08/2023 ENTREGAS DOCUMENTALES
  </p>
 </div>
 <div class="doc-section" data-id="1">
  1. OBJETIVO
 </div>
 <div class="doc-content" data-id="1">
  <p>
   Realizar las entregas de los documentos físicos dentro de los tiempos estipulados en los ANS y dar cumplimiento al Sistema de Gestión norma ISO 9001
  </p>
 </div>
 <div class="doc-section" data-id="2">
  2. ALCANCE
 </div>
 <div class="doc-content" data-id="2">
  <p>
   Este procedimiento aplica los servicios de Impuestos Nacionales, Distritales, Departamentales y convenios varios por Digicom System Corporation S. A
  </p>
 </div>
 <div class="doc-section" data-id="3">
  3. RESPONSABLES
 </div>
 <div class="doc-content" data-id="3">
  <p>
   Director de Operaciones, Coordinador de procesos, Líderes de proceso y Auxiliares de proceso
  </p>
 </div>
 <div class="doc-section" data-id="4">
  4. DEFINICIONES
 </div>
 <div class="doc-content" data-id="4">
  <p>
   • Paquete: Es el conjunto de documentos de una fecha de recaudo y de un proceso especifico. • Guía: Soporte del envío de un paquete. • Planilla: Relación de los documentos que conforman el paquete. • Control: Actividad utilizada para verificar la entrega de los documentos. • Aplicativo: Herramienta que permite visualizar el estado de las guías que hacen parte del paquete
  </p>
 </div>
 <div class="doc-section" data-id="5">
  5. DOCUMENTOS DE REFERENCIA
 </div>
 <div class="doc-content" data-id="5">
  <p>
   ➢ Resolución 436 del 24 de agosto de 2010 – Entrega Físicos ➢ Acuerdos de Servicios
  </p>
 </div>
 <div class="doc-section" data-id="6">
  6. DESCRIPCIÓN DEL PROCESO
 </div>
 <div class="doc-content" data-id="6">
 </div>
 <div class="doc-section" data-id="7">
  7. INDICADORES DE DESEMPEÑO
 </div>
 <div class="doc-content" data-id="7">
  <p>
   Medido Responsable Indicador Frecuencia por/medio Revisión Σ Documentos Entregados – Σ Documentos Extemporáneos Líder De Director de procesos Mensual ---------------------------------------- Proceso Σ Doc. Entregados
  </p>
 </div>
 <div class="doc-section" data-id="8">
  8. CONTROL DEL PROCEDIMIENTO
 </div>
 <div class="doc-content" data-id="8">
  <p>
   VER. FECHA MODIFICACION ELABORADO REVISADO APROBADO No. APROBACION REALIZADA Se incluyen imágenes Director de Director del Gerente de 1 03/08/2023 de la herramienta del Procesos SGI Operaciones operador logístico. 03/08/2023
  </p>
 </div>
</div>

<!-- Botón para abrir el modal -->
<button class="btn btn-outline-primary" id="openModalBtn" style="margin-top: 20px;">Editar Secciones</button>
<!-- El Modal -->
<div class="modal" id="sectionModal">
    <div class="modal-content">
        <span class="close-button">×</span>
        <h2>Selecciona y Edita una Sección</h2>
        <label for="sectionSelector">Sección:</label>
        <select id="sectionSelector">
            <option value="">-- Selecciona una sección --</option>
        </select>
        <label for="sectionContent">Contenido:</label>
        <textarea id="sectionContent" placeholder="El contenido de la sección aparecerá aquí..."></textarea>
        <label for="sectionCambio">Descripcion del Cambio:</label>
        <textarea id="sectionCambio" placeholder="Describe en palabras cortas el cambio realizado..."
            required></textarea>
        <button class="btn btn-outline-primary" id="saveChangesBtn" style="margin-top: 15px;">Guardar Cambios</button>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/acordeon_doc.js')}}"></script>
<script src="{{ url_for('static', filename='js/edita_procedimiento.js')}}"></script>

{% endblock %}
